services:
  kn05-web1:
    image: nginx:latest
    container_name: kn05-web1
    ports:
      - "8081:80"
    volumes:
      - type: volume
        source: kn05-data
        target: /usr/share/nginx/shared
      - type: bind
        source: ./html
        target: /usr/share/nginx/html
      - type: tmpfs
        target: /tmp/tmpfs-data
    networks:
      - kn05-network

  kn05-web2:
    image: nginx:latest
    container_name: kn05-web2
    ports:
      - "8082:80"
    volumes:
      - kn05-data:/usr/share/nginx/shared
    networks:
      - kn05-network

volumes:
  kn05-data:
    driver: local

networks:
  kn05-network:
    driver: bridge
